.like-title {
  font-size: 1.8rem;
  padding-bottom: 1vh;
}

.like-form {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.like-quantity {
  width: 3vw;
  height:40px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding: 1vh 1vw;
}

.like-submit {
  width: 10vw;
  height: 45px;
  background-color: #bc9462;
  border: 1px solid #bc9462;
  border-radius: 30px;
  color: #ffffff;
  margin-left: 1vw;
  text-align: center;
}

.like-btn {
  margin-top: 5vh;
  margin-bottom: 2vh;
}
